In [1]:
# Import dependency
import pandas as pd

In [2]:
# Load both of the cleaned-up CSV data files
tweets_1 = 'Output_data/tweets_1.csv'
tweets_2 = 'Output_data/tweets_2.csv'

# Read the loaded files in a Pandas dataframe
df_1 = pd.read_csv(tweets_1)
df_2 = pd.read_csv(tweets_2)

In [3]:
# Concatenate both of the dataframes
frames = [df_1, df_2]
result = pd.concat(frames)

In [4]:
# Reset the index
concat = result.reset_index(drop=True)

# Specify desired columns in dataframe
concat_df = concat[["Tweet_Id", "Date", "Time", "Text", "Retweets", "Favorites"]]

# Set the index to the date to serve as a primary key in the SQL database
tweet_df = concat_df.set_index('Tweet_Id')

# Display the concatenated dataframe
tweet_df

,Date,Time,Text,Retweets,Favorites
Tweet_Id,,,,,
1300933256762798080,2020/09/01,23:07,"Kenosha, Wisconsin, we’re with you all the way!",4284,13609
1300840191771340801,2020/09/01,16:57,I was saddened to learn of the passing of Indi...,19844,124232
1300815396950478849,2020/09/01,15:18,Had a very productive conversation with Kevin ...,20444,107510
1300813079366770689,2020/09/01,15:09,"Heading to Kenosha, Wisconsin, to thank Law En...",22286,110602
1300811758051954695,2020/09/01,15:04,It never ends! Now they are trying to say that...,34998,138787
...,...,...,...,...,...
683511482684936192,2016/01/03,04:53,"Thank you #Biloxi, #Mississippi! Remember this...",2472,5815
683418056417251328,2016/01/02,22:42,"Heading to Biloxi, Mississippi. Massive crowds...",1609,5756
683140004625936384,2016/01/02,04:17,Massive crowds expected in Mississippi tomorro...,2145,6363
683128636279361536,2016/01/02,03:32,#VoteTrump2016 &amp; together we will #MakeAme...,3057,7340
682805320217980928,2016/01/01,06:07,Happy New Year from #MarALago! Thank you to my...,1948,8258

In [5]:
# Save the Trump-tweets dataframe as a new CSV file to be imported into the SQL database
tweet_df.to_csv('Output_data/2016-2020_tweets.csv')